<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="listsWrapper">
        <h2>Categories</h2>

        <div class="hidden error" id="listError">Something went wrong!</div>

        <form id="listsForm">
          <input type="text" id="name" />
          <input type="submit" value="Add List" />
        </form>

        <ul id="lists">
          {% if not lists %}
          <li>Category list is empty...</li>
          {% endif %}

          <!-- Todo Category -->
          {% for list in lists %}
          <li>
            <input id="{{ list.id }}" data-id="{{ list.id }}" class="checkbox"
            type="checkbox" {% if (list.id == active_list.id) %} checked {%
            endif %} disabled />
            <label for="{{ list.id }}">
              <a href="/lists/{{ list.id }}">{{ list.name }}</a>
            </label>
            <button class="deleteListBtn" data-id="{{ list.id }}">
              &cross;
            </button>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="todosWrapper">
        <h2>{{ active_list.name }} Todos</h2>

        <div class="hidden error" id="error">Something went wrong!</div>

        <form id="todoForm">
          <input type="text" id="description" />
          <input type="submit" value="Add Todo" />
        </form>

        <ul id="todos">
          {% if not todos %}
          <li>This list is empty...</li>
          {% endif %}

          <!-- Todo Items -->
          {% for todo in todos %}
          <li>
            <input
              id="{{ todo.id }}"
              data-id="{{ todo.id }}"
              class="checkbox"
              type="checkbox"
              {%
              if
              todo.completed
              %}
              checked
              {%
              endif
              %}
            />
            <label for="{{ todo.id }}">{{ todo.description }}</label>
            <button class="deleteBtn" data-id="{{ todo.id }}">&cross;</button>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <script>
      // Process the addition of a new Todo
      const todoForm = document.getElementById("todoForm");

      todoForm.onsubmit = function (e) {
        e.preventDefault();

        const description = document.getElementById("description").value;

        fetch("/todos/create", {
          method: "POST",
          body: JSON.stringify({
            description: description,
            todolists_id: "{{ active_list.id }}",
          }),
          headers: { "Content-Type": "application/json" },
        })
          .then((response) => {
            return response.json();
          })
          .then((jsonResponse) => {
            console.log(jsonResponse);

            const newTodoNode = document.createElement("LI");
            newTodoNode.innerHTML = jsonResponse["description"];

            document.getElementById("todos").appendChild(newTodoNode);
            document.getElementById("error").className = "hidden";

            document.getElementById("description").value = "";

            window.location.reload();
          })
          .catch(function () {
            document.getElementById("error").className = "error";
          });
      };

      //   Process the edition of the completion status
      const checkboxes = document.querySelectorAll(".checkbox");

      for (let i = 0; i < checkboxes.length; i++) {
        const todoItem = checkboxes[i];

        todoItem.onchange = function (e) {
          const id = e.target.dataset["id"];
          const status = e.target.checked;

          fetch("/todos/updateStatus/" + id, {
            method: "PUT",
            body: JSON.stringify({ completed: status }),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => {
              return response.json();
            })
            .then((responseJson) => {
              console.log(responseJson);
              document.getElementById("error").className = "hidden";
            })
            .catch(() => {
              document.getElementById("error").className = "";
            });
        };
      }

      //   Process the deletion of a Todo
      const deleteBtns = document.querySelectorAll(".deleteBtn");

      for (let i = 0; i < deleteBtns.length; i++) {
        const deleteBtn = deleteBtns[i];

        deleteBtn.onclick = function (e) {
          const id = e.target.dataset["id"];

          fetch("/todos/delete/" + id, {
            method: "DELETE",
          })
            .then((response) => {
              return response.json();
            })
            .then((responseJson) => {
              console.log(responseJson);
              document.getElementById("error").className = "hidden";

              const listItem = e.target.parentElement;

              listItem.parentNode.removeChild(listItem);
            })
            .catch(() => {
              document.getElementById("error").className = "";
            });
        };
      }

      // Process the addition of a new List
      const listsForm = document.getElementById("listsForm");

      listsForm.onsubmit = function (e) {
        e.preventDefault();

        const name = document.getElementById("name").value;

        fetch("/lists/create", {
          method: "POST",
          body: JSON.stringify({ name: name }),
          headers: { "Content-Type": "application/json" },
        })
          .then((response) => {
            return response.json();
          })
          .then((jsonResponse) => {
            console.log(jsonResponse);

            const newListNode = document.createElement("LI");
            newListNode.innerHTML = jsonResponse["name"];

            document.getElementById("lists").appendChild(newListNode);
            document.getElementById("listError").className = "hidden";

            document.getElementById("name").value = "";

            window.location.reload();
          })
          .catch(function () {
            document.getElementById("listError").className = "error";
          });
      };

      //   Process the deletion of a Todo
      const deleteListBtns = document.querySelectorAll(".deleteListBtn");

      for (let i = 0; i < deleteListBtns.length; i++) {
        const deleteListBtn = deleteListBtns[i];

        deleteListBtn.onclick = function (e) {
          const id = e.target.dataset["id"];

          fetch("/lists/delete/" + id, {
            method: "DELETE",
          })
            .then((response) => {
              return response.json();
            })
            .then((responseJson) => {
              console.log(responseJson);
              document.getElementById("listError").className = "hidden";

              const listItem = e.target.parentElement;

              listItem.parentNode.removeChild(listItem);

              window.location.reload();
            })
            .catch(() => {
              document.getElementById("listError").className = "error";
            });
        };
      }
    </script>
  </body>
</html>
